.single-footer
  .single-footer-box
    .single-footer-box-top
      .single-footer-box_text
        プライバシーポリシー
      .single-footer-box_text
        Fmarket利用規約
      .single-footer-box_text
        特定商取引に関する表記
    .single-footer-box-bottom
      .single-footer-box-bottom_logo
    .single-footer-box-bottom_license
      ©︎ Mercari, inc.
