= render "header"
.single-main
  .single-main__box
    .single-main__box-top
      新規会員登録
    .single-main__box-bottom
      = link_to '/signup/registration', class: 'single-main__box-bottom__mail' do
        .single-main__box-bottom__logo
          %i.far.fa-envelope
        .single-main__box-bottom__text
          メールアドレスで登録する
      .single-main__box-bottom__facebook
        .single-main__box-bottom__logo
          %i.fab.fa-facebook-square
        .single-main__box-bottom__text_f
          Facebookで登録する
      .single-main__box-bottom__google
        .single-main__box-bottom__logo
          %i.fab.fa-facebook-square
        .single-main__box-bottom__text_g
          Googleで登録する
= render "footer"
