.single-header
  .single-header-box
    .single-header-box__logo
    
.single-main
  .single-main__box
    .single-main__box-top
      新規会員登録
    .single-main__box-bottom
      .single-main__box-bottom__mail
        .single-main__box-bottom__logo
          %i.far.fa-envelope
        .single-main__box-bottom__text
          -# = link_to ""
          メールアドレスで登録する
      .single-main__box-bottom__facebook
        .single-main__box-bottom__logo
          %i.fab.fa-facebook-square
        .single-main__box-bottom__text_f
          Facebookで登録する
      .single-main__box-bottom__google
        .single-main__box-bottom__logo
          %i.fab.fa-facebook-square
        .single-main__box-bottom__text_g
          Googleで登録する

.single-footer
  .single-footer-box
    .single-footer-box-top
      .single-footer-box_text
        プライバシーポリシー
      .single-footer-box_text
        Fmarket利用規約
      .single-footer-box_text
        特定商取引に関する表記
    .single-footer-box-bottom
      .single-footer-box-bottom_logo
    .single-footer-box-bottom_license
      ©︎ Mercari, inc.
