.header-frame
  .header-frame__market
.main-new
  .main-frame
    .main-frame__infomation 商品の情報を入力
    .main-frame__image
      .main-frame__image__text
        .main-frame__image__text__trading 出品画像
        .main-frame__image__text__btn 必須
      .main-frame__image__upload 最大10枚までアップロードできます
      .main-frame__image__up
        .main-frame__image__up__image ドラッグアンドドロップ
        .main-frame__image__up__image またはクリックしてファイルをアップロード
    .main-frame__product
      .main-frame__product__name
        .main-frame__product__name__border
          .main-frame__product__name__border__text 商品名
          .main-frame__product__name__border__btn 必須
        .main-frame__product__name__input 商品名（必須 40文字まで）
      .main-frame__product__info
        .main-frame__product__info__border
          .main-frame__product__info__border__text 商品の説明
          .main-frame__product__info__border__btn 必須
        .main-frame__product__info__input 商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）
    .main-frame__show
      .main-frame__show__left 商品の詳細
      .main-frame__show__right
        .main-frame__show__right__category
          .main-frame__show__right__category__text カテゴリー
          .main-frame__show__right__category__btn 必須
        .main-frame__show__right__input
          .main-frame__show__right__input__ten ---
          %i.fas.fa-chevron-down
        .main-frame__show__right__category
          .main-frame__show__right__category__text 商品の状態
          .main-frame__show__right__category__btn 必須
        .main-frame__show__right__input__end
          .main-frame__show__right__input__ten ---
          %i.fas.fa-chevron-down
    .main-frame__deli
      .main-frame__deli__left 
        .main-frame__deli__left__text 配送について
        .main-frame__deli__left__logo ？
      .main-frame__deli__right
        .main-frame__show__right__category
          .main-frame__show__right__category__text 配送料の負担
          .main-frame__show__right__category__btn 必須
        .main-frame__show__right__input
          .main-frame__show__right__input__ten ---
          %i.fas.fa-chevron-down
        .main-frame__show__right__category
          .main-frame__show__right__category__text 発送元の地域
          .main-frame__show__right__category__btn 必須
        .main-frame__show__right__input
          .main-frame__show__right__input__ten ---
          %i.fas.fa-chevron-down
        .main-frame__show__right__category
          .main-frame__show__right__category__text 発送までの日数
          .main-frame__show__right__category__btn 必須
        .main-frame__show__right__input__end
          .main-frame__show__right__input__ten ---
          %i.fas.fa-chevron-down
    .main-frame__price
      .main-frame__price__left
        .main-frame__price__left__text 販売価格(300〜9,999,999)
        .main-frame__price__left__logo ？
      .main-frame__price__right
        .main-frame__price__right__border
          .main-frame__price__right__border__left
            .main-frame__price__right__border__left__text 価格
            .main-frame__price__right__border__left__btn 必須
          .main-frame__price__right__border__right
            .main-frame__price__right__border__right__text ￥
            .main-frame__price__right__border__right__input 例）300
        .main-frame__price__right__com
          .main-frame__price__right__com__left 販売手数料(10%)
          .main-frame__price__right__com__right
            .main-frame__price__right__com__right__text -
            .main-frame__price__right__com__right__en
        .main-frame__price__right__gain
          .main-frame__price__right__gain__left 販売利益
          .main-frame__price__right__gain__right
            .main-frame__price__right__gain__right__text ￥
            .main-frame__price__right__gain__right__price
    .main-frame__text
      .main-frame__text__info
        .main-frame__text__info__link 禁止されている出品
        .main-frame__text__info__ten 、
        .main-frame__text__info__link 行為
        .main-frame__text__info__ten を必ずご確認ください
      .main-frame__text__info
        .main-frame__text__info__ten またブランド品でシリアルナンバー等がある場合はご記載ください。
        .main-frame__text__info__link 偽ブランドの販売
        .main-frame__text__info__ten は犯罪であ
      .main-frame__text__info り処罰される可能性があります
      .main-frame__text__info
        .main-frame__text__info__ten また、出品をもちまして
        .main-frame__text__info__link 加盟店規約
        .main-frame__text__info__ten に同意したことになります。
    .main-frame__btn 出品する
    .main-frame__back もどる
    
.single-footer
  .single-footer-box
    .single-footer-box-top
      .single-footer-box_text
        プライバシーポリシー
      .single-footer-box_text
        Fmarket利用規約
      .single-footer-box_text
        特定商取引に関する表記
    .single-footer-box-bottom
      .single-footer-box-bottom_logo
    .single-footer-box-bottom_license
      ©︎ Mercari, inc.
