.footer-upper
  .footer-upper__border
    .footer-upper__border__frame
      .footer-upper__border__frame__mercari
      .footer-upper__border__frame__apple
      .footer-upper__border__frame__google


.footer-lower
  .footer-lower__frame
    .footer-lower__frame__text メルカリについて
    .footer-lower__frame__link 会社概要（運営会社）
    .footer-lower__frame__link 採用情報
    .footer-lower__frame__link プレスリリース
    .footer-lower__frame__link 公式ブログ
    .footer-lower__frame__link メルカリロゴ利用ガイドライン
    .footer-lower__frame__logo
      %i.fab.fa-twitter
      %i.fab.fa-facebook-square
    .footer-lower__frame__mercari
      .footer-lower__frame__mercari__logo
      .footer-lower__frame__mercari__text merihari

  .footer-lower__frame
    .footer-lower__frame__text ヘルプ＆ガイド
    .footer-lower__frame__link メルカリガイド
    .footer-lower__frame__link らくらくメルカリ便
    .footer-lower__frame__link ゆうゆうメルカリ便
    .footer-lower__frame__link 大型メルカリ便
    .footer-lower__frame__link 車体取引ガイド
    .footer-lower__frame__link メルカリあんしん・安全宣言！
    .footer-lower__frame__link 偽ブランド品撲滅への取り組み
    .footer-lower__frame__link メルカリボックス
  
  .footer-lower__frame
    .footer-lower__frame__text プライバシーと利用規約
    .footer-lower__frame__link プライバシーポリシー
    .footer-lower__frame__link メルカリ利用規約
    .footer-lower__frame__link-2 あんしんスマホサポート制度に関する利用特約
    .footer-lower__frame__link コンプライアンスポリシー
    .footer-lower__frame__policy ©︎ Mercari, inc.

  .footer-lower__frame
    .footer-lower__frame__text
    .footer-lower__frame__link-2 個人データの安全管理に係る基本方針
    .footer-lower__frame__link 特定商取引に関する表記
    .footer-lower__frame__link 資金決済法に基づく表示
    .footer-lower__frame__link 法令順守と犯罪抑止のために

  .footer-lower__frame
    .footer-lower__frame__text 国
    .footer-lower__frame__link 日本
    .footer-lower__frame__link United States