.header
  .header-upper
    .header-upper__mercari
    .header-upper__find 
      .header-upper__find__text 何かお探しですか？
      %i.fas.fa-search

  .header-lower
    .header-lower-left
      .header-lower-left__category
        %i.fas.fa-list
        .header-lower-left__category__text カテゴリーから探す
      .header-lower-left__bland
        %i.fas.fa-tags
        .header-lower-left__bland__text ブランドから探す
    .header-lower-right
      - if user_signed_in?
        .header-lower-right__like
          %i.far.fa-heart
          .header-lower-right__like__text いいね！一覧
        .header-lower-right__info
          %i.far.fa-bell
          .header-lower-right__info__text お知らせ
        .header-lower-right__todo
          %i.fas.fa-check
          .header-lower-right__todo__text
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        .header-lower-right__mypage
          .header-lower-right__mypage__logo
          .header-lower-right__mypage__text マイページ
      - else
        = link_to "新規会員登録", signup_index_path, class: "header-lower-right__new"
        = link_to "ログイン", new_user_session_path, class: "header-lower-right__login"



-# 28行目やることリスト
-# 35行目やることリスト
-# 38行目マイページ