.header
  .header-upper
    .header-upper__mercari
      .header-upper__mercari__logo
      .header-upper__mercari__text mercari
    .header-upper__find 
      .header-upper__find__text 何かお探しですか？
      .header-upper__find__logo

  .header-lower
    .header-lower-left
      .header-lower-left__category
        .header-lower-left__category__logo
        .header-lower-left__category__text カテゴリーから探す
      .header-lower-left__bland
        .header-lower-left__bland__logo
        .header-lower-left__bland__text ブランドから探す
    .header-lower-right
      .header-lower-right__like
        .header-lower-right__like__logo
        .header-lower-right__like__text いいね一覧
      .header-lower-right__info
        .header-lower-right__info__logo
        .header-lower-right__info__text お知らせ
      .header-lower-right__todo
        .header-lower-right__todo__logo
        .header-lower-right__todo__text やることリスト
      .header-lower-right__mypage
        .header-lower-right__mypage__logo
        .header-lower-right__mypage__text マイページ