.ladynew-end-border__frame
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご
.ladynew-end-border__frame
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご
  .ladynew-end-border__frame__things
    .ladynew-end-border__frame__things-image
      
    .ladynew-end-border__frame__things-text りんご