= render "header"

- breadcrumb :profile, class: "breadcrumbs"
= breadcrumbs pretext: "",separator: " &rsaquo; "

.mypage
  = render "side-bar"
    
  .main
    .main-top
      .main-top__back
        .main-top__back__image
        .main-top__back__name ishii shunichi
        .main-top__back__value 評価 10 出品数  18
= render "footer"