= render "header"

- breadcrumb :mypage, class: "breadcrumbs"
= breadcrumbs pretext: "",separator: " &rsaquo; "

.mypage
  = render "side-bar"
  .profile 
    .profile__text プロフィール
    .profile__frame
      .profile__frame__icon
      .profile__frame__name
    .profile__info
      .profile__info__text
      .profile__info__btn 変更する
= render "footer"