= render "header"
.pan
  .pan__text メルカリ
  .pan__text   > マイページ

.side-bar
  .side-bar__top
    .side-bar__top__content
      .side-bar__top__content__text マイページ
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text お知らせ
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text やることリスト
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text いいね！一覧
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 出品する
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 出品した商品- 出品中
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 出品した商品- 取引中
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 出品した商品- 売却済み
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 購入した商品- 取引中
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 購入した商品- 過去の取引
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text ニュース一覧
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text 評価一覧
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text ガイド
      .side-bar__top__content__text-1 ＞
    .side-bar__top__content
      .side-bar__top__content__text お問い合わせ
      .side-bar__top__content__text-1 ＞

  .side-bar__middle
    .side-bar__middle__text
    .side-bar__middle__content
      .side-bar__middle__content__text 残高・振り込み申請
      .side-bar__middle__content__text-1 ＞
    .side-bar__middle__content
      .side-bar__middle__content__text ポイント
      .side-bar__middle__content__text-1 ＞

  .side-bar__bottom
    .side-bar__bottom__text
    .side-bar__bottom__content
      .side-bar__bottom__content__text プロフィール
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text 発送元・お届け先住所変更
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text 支払い方法
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text メール/パスワード
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text 本人情報
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text 電話番号の確認
      .side-bar__bottom__content__text-1 ＞
    .side-bar__bottom__content
      .side-bar__bottom__content__text ログアウト
      .side-bar__bottom__content__text-1 ＞
    
  .main
    .main-top
      .main-top__back
        .main-top__back__profile
      .main-top__category
        .main-top__category__content
        .main-top__category__content
      .main-top__content
        .main-top__content__frame
          .main-top__content__frame__image
          .main-top__content__frame__things
            .main-top__content__frame__things__text 
            .main-top__content__frame__things__time
          .main-top__content__frame__text ＞
        .main-top__content__frame
          .main-top__content__frame__image
          .main-top__content__frame__things
            .main-top__content__frame__things__text
            .main-top__content__frame__things__time
          .main-top__content__frame__text ＞
        .main-top__content__frame
          .main-top__content__frame__image
          .main-top__content__frame__things
            .main-top__content__frame__things__text
            .main-top__content__frame__things__time
          .main-top__content__frame__text ＞
        .main-top__content__frame
          .main-top__content__frame__image
          .main-top__content__frame__things
            .main-top__content__frame__things__text
            .main-top__content__frame__things__time
          .main-top__content__frame__text ＞
        .main-top__content__frame
          .main-top__content__frame__image
          .main-top__content__frame__things
            .main-top__content__frame__things__text
            .main-top__content__frame__things__time
          .main-top__content__frame__text ＞
        .main-top__index
          .main-top__index__btn

    .main-bottom
      .main-bottom__product
      .main-bottom__category
        .main-top__category__content
        .main-top__category__content
      
      
        



= render "footer"