

// -------------header----------------


.single-header {
  width: 100%;
  height: 128px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  &-box {
    width: 60%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
      width: 200px;
      height: 60px;
      background: image-url("fmarket_logo_red.svg") center top/cover no-repeat;
    }
  }
}

.single-header-box__text {
  font-size: 30px;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Hiragino Maru Gothic ProN',fantasy;
  letter-spacing: 0.05em;
  & a {
     text-decoration: none;
     color: black;
  }
}

.progress {
  width: 50%;
  height: 10px;
  
  display: flex;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  justify-content: center;
  align-items: center;
  position: relative;
  &__text {
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    left: 40px
  }
  &__box {
    width: 15px;
    height: 15px;
    background-color: red;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  &__bar {
    width: 80px;
    height: 4px;
    background-color: red;
  }
  &__text2 {
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    left: 135px
  }
  &__text3 {
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    left: 240px
  }
  &__text4 {
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    right: 55px;
  }
  .progress__box__r {
    width: 15px;
    height: 15px;
    background-color: #dcdcdc;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  &__bar__r {
    width: 80px;
    height: 4px;
    background-color:#dcdcdc;
  }
  &__box__s {
    width: 15px;
    height: 15px;
    background-color: #dcdcdc;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  &__bar__s {
    width: 80px;
    height: 4px;
    background-color:#dcdcdc;
  }
  &__box__a {
    width: 15px;
    height: 15px;
    background-color: #dcdcdc;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  &__bar__a {
    width: 80px;
    height: 4px;
    background-color:#dcdcdc;
  }
  


}
// -----------main-------------


.single-main {
  width: 100%;
  height: 384px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  &__box {
    height: 384px;
    width: 700px;
    background-color: white;
    &-top {
      width: 100%;
      height: 97px;
      border-bottom: solid 0.5px whitesmoke;
      color: rgba(0, 0, 0, 0.76);
      font-size: 22px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-bottom {
      width: 100%;
      height: 246px;
      background-color: white;
      &__mail {
        width: 343px;
        height: 50px;
        color: white;
        background-color: #DC143CE8;
        margin-top: 40px;
        margin-left: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        text-decoration: none;
      }
      &__logo {
        margin-left: 16px;
        font-size: 20px;
      }
      &__text {
        margin-right: 90px;
        font-size: 13.5px;
      }
      &__facebook {
        width: 343px;
        height: 50px;
        color: white;
        background-color: #193770E0;
        margin-top: 17px;
        margin-left: 180px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__text_f {
        margin-right: 110px;
        font-size: 12.5px;
      }
      &__google {
        width: 343px;
        height: 50px;
        border: solid 0.5px #696969EE;
        margin-top: 17px;
        margin-left: 180px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__text_g {
        margin-right: 120px;
        font-size: 12.5px;
      }
    }
  }
}

// -----------footer------------


.single-footer {
  height: 400px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  &-box {
    width: 30%;
    height: 280px;
    background-color: whitesmoke;
    &-top {
      width: 100%;
      height: 30px;
      background-color: whitesmoke;
      display: flex;
      justify-content: center;
      font-size: 12px;
      margin-top: 150px;
      margin-bottom: 25px;
    }
    &_text {
      margin-right: 12px;
    }
    &-bottom {
      width: 100%;
      height: 75px;
      background-color: whitesmoke;
      display: flex;
      justify-content: center;
      &_logo {
        width: 85px;
        height: 75px;
        background-color: whitesmoke;
        background: image-url("logo_gray.svg") center top/cover no-repeat;
        color: #A9A9A9
      }
      &_license {
        display: flex;
        justify-content: center;
        font-size: 13px;
      }
    }
  }
}

// --------------STEP2----------------
.second-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  background-color: whitesmoke;
  &__box {
    width: 50%;
    height: 100%;
    background-color: white;
    &-top {
      width: 100%;
      height: 97px;
      border-bottom: solid 0.5px whitesmoke;
      color: rgba(0, 0, 0, 0.76);
      font-size: 22px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-bottom {
      width: 50%;
      height: 1100px;
      background-color: white;
      padding: 40px 180px 400px 180px;
      &__inner {
        width: 100%;
        height: 100%;
      }
      &__text {
        width: 100%;
        height: 30px;
        display: flex;
        font-size: 13px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.808);
      }
      &__must {
        width: 35px;
        height: 18px;
        background-color: red;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 12px;
        margin-left: 10px;
      }
      &__any {
        width: 35px;
        height: 18px;
        background-color: gray;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 12px;
        margin-left: 10px;
      }
      &__form {
        width: 89%;
        height: 30px;
        background-color: white;
        border: solid 0.5px #d3d3d3;
        border-radius: 2px;
        padding: 10px 20px;
        &-under {
          width: 100%;
          height: 50px;
          background-color: white;
          margin-bottom: 10px;
          border-radius: 2px;
          margin-bottom: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      &__form2 {
        width: 89%;
        height: 30px;  
        background-color: white;
        border: solid 0.5px #d3d3d3;
        border-radius: 2px;
        padding: 10px 10px;
      }
      &__cortion {
        width: 100%;
        height: 30px;
        font-size: 14px;
        color: #c0c0c0;
      }
      &__check {
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
      }
      &__human {
        width: 100%;
        height: 100px;
        margin-bottom: 30px;
      }
      &__h-title {
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.808);
      }
      &__h-text {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.808);
      }
      &__text-1 {
        width: 100%;
        height: 70px;
        font-size: 14px;
        color: #c0c0c0;
      }
      &__text-next {
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
        font-size: 14px;
        display: flex;
        justify-content: center;
      }
      &__next-btn {
        width: 100%;
        height: 50px;
        background-color: #dc143ce8;
        color: white;
        font-size: 13px;
      }
      &__text-2 {
        width: 100%;
        height: 70px;
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        color: skyblue
      }
      &__text-3 {
        width: 92%;
        height: 50px;
        background-color: #f5f5f5;
        font-size: 11px;
        padding-left: 15px;
        padding-right: 15px;
        color: slategray;
        display: flex;
        align-items: center;
      }
    }
  }
}



// -----------STEP3---------------


.phone-main__box-bottom {
  width: 100%;
  height: 384px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  &__inner {
    width: 100%;
    height: 245px;
    background-color: white;
    padding: 20px 120px;
    &__text {
      color: rgba(0, 0, 0, 0.76);
      font-weight: bold;
      margin-bottom: 10px;
      &-1 {
        margin-top: 10px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.76);
      }
    }
  }
  &__next {
    width: 100%;
    height: 50px;
    background-color: tomato;
    margin-top: 20px;
  }
}



// -----------STEP4--------------


.second-main__box-bottom-address {
  width: 100%;
  height: 750px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.second-main__box-bottom__inner-address {
  width: 60%;
  height: 750px;
  padding-top: 20px;
  padding-bottom: 20px;
}

// -------------create画面--------------
.create-text {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  & a {
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.76);
  }
}
// -----------login--------------
.login-main {
  width: 100%;
  height: 750px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.76);
  &__box {
    width: 32%;
    height: 750px;
    background-color: white
  }
  &__box-inner {
    width: 100%;
    height: 750px;
  }
  &__top {
    width: 100%;
    height: 110px;
    background-color: white;
    border-bottom: solid 0.5px whitesmoke;
    padding-top: 40px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    letter-spacing: 0.1rem;
    font-size: 13px;
    &__text {
      width: 70%;
      height: 20px;
      margin: auto;
      display: flex;
      justify-content: center;
    }
    &__login {
      width: 70%;
      height: 45px;
      background-color: #00bfff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      color: white
    }
  }
  &__sns {
    width: 100%;
    height: 150px;
    background-color: white;
    padding-top: 30px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 13px;
    &__f {
      width: 70%;
      height: 50px;
      background-color:  #193770E0;
      margin: auto;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__icon {
        width: 60px;
        height: 40px;
        font-size: 30px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__text {
        width: 200px;
        height: 20px;
        display: flex;
        justify-content: center;
        margin-right: 60px;
        color: white;
      }
    }
    &__g {
      width: 70%;
      height: 50px;
      border: solid 0.5px #696969EE;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__icon {
        width: 20px;
        height: 20px;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.76);
        display: flex;
        justify-content: center;
        align-items: center;
        background: image-url("google-icon.png") center top/cover no-repeat;
        margin-left: 18px;
      }
      &__text {
        width: 200px;
        height: 20px;
        display: flex;
        justify-content: center;
        margin-right: 60px;
        color: rgba(0, 0, 0, 0.76);
      }
    }
  }
  &__form {
    width: 100%;
    height: 336px;
    margin-top: 30px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 16px;
    &__mail {
      width: 70%;
      height: 45px;
      background-color: red;
      margin: auto;
      margin-bottom: 25px;
    }
    &__m {
      width: 93%;
      height: 45px;
      padding: 0 10px;
    }
    &__pass {
      width: 70%;
      height: 45px;
      background-color: blue;
      margin: auto;
      margin-bottom: 25px;
    }
    &__p {
      width: 93%;
      height: 45px;
      padding: 0 10px;
    }
    &__recapcha {
      width: 300px;
      height: 60px;
      background: image-url("recapcha.png") center top/cover no-repeat;
      margin: auto;
      margin-bottom: 25px;
    }
  }
}

.login-main__form__btn {
  width: 70%;
  height: 45px;
  margin: auto;
  margin-bottom: 50px;
}
.login-main__form-btn__2 {
  width: 100%;
  height: 50px;
  background-color: #DC143CE8;
  color: white;
  font-size: 13px;
}
.login-main__form__forget {
  width: 50%;
  height: 2px;
  color: #00bfff;
  font-size: 13px;
  margin-left: 70px;
}
