.footer {
  height: 700px;
  background-color: gray;
  &-upper {
    height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: image-url("profile2.jpg") center top/cover no-repeat;
    &__border {
      height: 200px;
      width: 450px;
      margin-top: 30px;
      margin-left: 340px;
      &__text1 {
        font-size: 20px;
        font-weight: bold;
      }
      &__text2 {
        font-size: 30px;
        font-weight: bold;
      }
      &__frame {
        display: flex;
        justify-content: space-between;
        width: 392px;
        &__mercari {
          background-color: white;
          height: 60px;
          width: 55px;
          margin-top: 14px;
          margin-left: 3px;
          padding-top: 8px;
          padding-left: 15px;
          border-radius: 15px;
          &__image {
            height: 50px;
            width: 40px;
            border-radius: 10px;
            background: image-url("logo_red.svg") center top/cover no-repeat;
          }
        }
        &__apple {
          height: 40px;
          width: 140px;
          margin-top: 25px;
          border-radius: 5px;
          border: 1px solid;
          border-color: white;
          background: image-url("apple.png") center top/cover no-repeat;
        }
        &__google {
          height: 40px;
          width: 140px;
          margin-top: 25px;
          border-radius: 5px;
          border: 1px solid;
          border-color: white;
          background: image-url("google.png") center top/cover no-repeat;
        }
      }
    }
  }
  &-lower {
    height: 400px;
    background-color: rgb(32, 31, 31);
    display: flex;
    justify-content: center;
    &__frame {
      width: 180px;
      color: white;
      margin-right: 40px;
      &__text {
        font-weight: bold;
        height: 60px;
        line-height: 60px;
      }
      &__link {
        color: rgb(201, 199, 199);
        font-size: 12px;
        height: 33px;
      }
      &__link-2 {
        color: rgb(201, 199, 199);
        font-size: 12px;
        height: 55px;
      }
      &__policy {
        margin-top: 130px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
      }
      &__logo {
        margin-top:20px;
        display: flex;
      }
      .fab.fa-twitter {
        height: 30px;
        width: 30px;
        font-size: 30px;
        margin-right: 30px;
        color: white;
      }
      .fab.fa-facebook-square {
        height: 30px;
        width: 30px;
        font-size: 30px;
        color: white;
      }
      &__mercari {
        margin-top: 50px;
        display: flex;
        &__logo {
          height: 35px;
          width: 30px;
          background: image-url("logo_white.svg") center top/cover no-repeat;
        }
        &__text {
          height: 35px;
          font-size: 25px;
          font-weight: bold;
          line-height: 35px;
          margin-left: 10px;
        }
      }
    }
  }
}

