
// ↓キャンペーンスライド


.image-slide {
  height: 400px;
  width: 100%;
  background-color: yellow;
  background: image-url("slide.jpg") center top/cover no-repeat;
}

// ↓いいねした商品


.like-things {
  height: 240px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: rgb(248, 247, 247);
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  &__frame {
    height: 180px;
    width: 1000px;
    padding: 30px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    &__text {
      height: 40px;
      line-height: 20px;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      &-1 {
        color: rgb(45, 128, 196);
        font-weight: bold;
        font-size: 15px;
      }
    }
    &__info {
      height: 150px;
      display: flex;
      
      position: relative;
      &__product {
        width: 150px;
        height: 50px;
        padding-top: 100px;
        background: image-url("ringo.jpg") center top/cover no-repeat;

        &__frame {
          line-height: 30px;
          height: 30px;
          width: 80px;
          background-color:rgba(0, 0, 0, 0.404);
          font-size: 20px;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          margin-top: 100px;
          display: flex;
          justify-content: center;
          position: absolute;

          top: 10px;
          font-size: 13px;
          
          &__logo {
            color: white;
          }
          &__price {
            color: white;
          }
        }
      }
    }
  }
}


// ↓人気のカテゴリー

.category {
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  &-border {
    height:100px;
    width:600px;
    margin: 0 auto;
    &__text {
      font-size: 25px;
      height: 60px;
      line-height: 60px;
      font-weight: bold;
      text-align: center;
    }
    &__frame {
      display:flex;
      justify-content: space-between;
      &__things {
        background-color: #dcdcdc8e;
        border-radius: 20px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}


// ↓レディース新着アイテム

.ladynew {
  height:600px;
  background-color: rgb(248, 247, 247);
  padding-top: 50px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  &-border {
    height: 600px;
    width: 1060px;
    margin: 0 auto;
    &__text {
      height: 60px;
      line-height: 60px;
      color: black;
      font-size: 23px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      background-color: white;
      &-1 {
        color: rgb(45, 128, 196);
        font-weight: bold;
        font-size: 15px;
      }
    }
    &__frame {
      width: 1060px;
      height:250px;
      margin-bottom: 15px;
      background-color: white;
      position: relative;
      &__things {
        width: 200px;
        background-color: white;
        display: flex;
        & a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.76);
          background-color: white;
        }
        &-image {

          height: 50px;
          padding-top: 130px;

          &__frame {
            line-height: 30px;
            height: 30px;
            width: 80px;
            background-color:rgba(0, 0, 0, 0.404);
            font-size: 13px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            display: flex;
            position: absolute;
            top: 10px;
            &__logo {
              color: white;
              margin-right: 5px;
            }
            &__price {
              color: white;
            }
          }
        }
      &-text {
        padding: 10px;
        font-size: 15px;
      }
      }
    }
  }
}

.ladynew-end {
  height:600px;
  background-color: rgb(248, 247, 247);
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  &-border {
    height: 600px;
    width: 1060px;
    margin: 0 auto;
    &__text {
      height: 60px;
      line-height: 60px;
      color: black;
      font-size: 23px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      &-1 {
        color: rgb(45, 128, 196);
        font-weight: bold;
        font-size: 15px;
      }
    }
    &__frame {
      height:250px;
      margin-bottom: 15px;
      background-color: rgb(248, 247, 247);
      display: flex;
      justify-content: space-between;
      &__things {
        width: 180px;
        background-color: white;
        &-image {
          height: 50px;
          padding-top: 130px;
          background: image-url("ringo.jpg") center top/cover no-repeat;
        }
        &-text {
          padding: 10px;
          font-size: 15px;
        }
      }
    }
  }
}


// ↓出品ボタン


.sell-btn {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  color: white;
  background-color: red;
  top: calc(100% - 180px);
  left: calc(100% - 180px);
  position: absolute;
  text-decoration: none;
  position: fixed;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  &__text {
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
  }
  .fas.fa-camera {
    font-size: 50px;
    height: 50px;
    width: 50px;
    margin-left: 50px;
  }
}

.wrapper {
  position: relative;
  overflow: scroll;
}


.product__image {
  width: 150px;
  height: 100%;
  margin-right: 40px;
}
.product__image2 {
  width: 200px;
  height: 180px;
  margin-right: 12px;
}

.ribbon-2 {
  width: 5px;
  height: 5px;
  position: relative;
  border-top: 70px solid #DC143CE8;
  border-right: 70px solid transparent;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  position: absolute;
  bottom: 75px;
  &__text {
    width: 100px;
    height: 50px;
    transform: rotate(-45deg);
    color: white;
    font-size: 13px;
    position: absolute;
    bottom: 32px;
    left: 7px;
    font-weight: bold;
    letter-spacing: 0.15em;
  }
}
