
.header-frame {
  height: 100px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding-top: 50px;
  display: flex;
  justify-content: center;
  &__market {
    height: 50px;
    width: 170px;
    display:inline-block;
    background: url("fmarket_logo_red.svg") center top/cover no-repeat;
  }
}

.main-new {
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);
}

.main-frame {
  height: 100%;
  width: 700px;
  background-color: white;
  margin: 0 auto;
  padding-bottom: 40px;
  &__infomation {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-bottom-color: rgb(230, 228, 228);
  }
  &__image {
    padding: 40px;
    border-bottom: 1px solid;
    border-bottom-color: rgb(230, 228, 228);
    &__text {
      display: flex;
      &__trading {
        font-size: 16px;
        font-weight: bold;
      }
      &__btn {
        color: white;
        font-size: 14px;
        font-weight: bold;
        height: 20px;
        width: 35px;
        background-color: red;
        margin-left: 10px;
        line-height: 20px;
        border-radius: 2px;
        text-align: center;
      }
    }
    &__upload {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__up {
      height: 150px;
      width: 620px;
      background-color: rgb(236, 235, 235);
      border:1px dashed;
      border-color: rgb(206, 206, 206);
      font-size: 15px;
    }
  }
  &__product {
    padding: 40px;
    border-bottom: 1px solid;
    border-bottom-color: rgb(230, 228, 228);
    &__name {
      height: 130px;
      &__border {
        display: flex;
        &__text {
          font-size: 16px;
          font-weight: bold;
        }
        &__btn {
          color: white;
          font-size: 14px;
          font-weight: bold;
          height: 20px;
          width: 35px;
          background-color: red;
          margin-left: 10px;
          line-height: 20px;
          border-radius: 2px;
          text-align: center;
        }
      }
      &__input {
        height: 50px;
        width: 610px;
        border: 1px solid;
        border-color: rgb(189, 189, 189);
        border-radius: 5px;
        padding-left: 10px;
        margin-top: 5px;
        line-height: 50px;
      }
    }
    &__info {
      height: 160px;
      &__border {
        display: flex;
        &__text {
          font-size: 16px;
          font-weight: bold;
        }
        &__btn {
          color: white;
          font-size: 14px;
          font-weight: bold;
          height: 20px;
          width: 35px;
          background-color: red;
          margin-left: 10px;
          line-height: 20px;
          border-radius: 2px;
          text-align: center;
        }
      }
      &__input {
        height: 120px;
        width: 600px;
        border: 1px solid;
        border-color: rgb(189, 189, 189);
        padding: 10px;
        margin-top: 5px;
      }
    }
  }
  &__show {
    padding: 40px;
    display: flex;
    border-bottom: 1px solid;
    border-bottom-color: rgb(230, 228, 228);
    &__left {
      width: 200px;
      font-size: 15px;
      font-weight: bold;
      color: rgb(161, 161, 161);
    }
    &__right {
      height: 100%;
      width: 420px;
      &__category {
        display: flex;
        &__text {
          font-size: 14px;
          font-weight: bold;
        }
        &__btn {
          color: white;
          font-size: 14px;
          font-weight: bold;
          height: 20px;
          width: 35px;
          background-color: red;
          margin-left: 10px;
          line-height: 20px;
          border-radius: 2px;
          text-align: center;
        }
      }
      &__input {
        height: 50px;
        width: 100%;
        color: rgb(189, 189, 189);
        border: 1px solid;
        border-color: rgb(189, 189, 189);
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        align-items: center;
        &__ten {
          margin-left: 10px;
        }
        .fas.fa-chevron-down {
          margin-right: 10px;
        }
      }
      &__input__end {
        height: 50px;
        width: 100%;
        color: rgb(189, 189, 189);
        border: 1px solid;
        border-color: rgb(189, 189, 189);
        border-radius: 5px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        align-items: center;
        .fas.fa-chevron-down {
          margin-right: 10px;
        }
      }
    }
  }
  &__deli {
    padding: 40px;
    border-bottom: 1px solid;
    border-bottom-color: rgb(230, 228, 228);
    display: flex;
    &__left {
      width: 200px;
      display: flex;
      &__text {
        font-size: 15px;
        font-weight: bold;
        color: rgb(161, 161, 161);
      }
      &__logo {
        height: 15px;
        width: 15px;
        color: white;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
        line-height: 15px;
        border-radius: 50%;
        background-color: rgb(0, 162, 255);
      }
    }
    &__right {
      height: 100%;
      width: 420px;
    }
  }
  &__price {
    padding: 40px;
    border-bottom: 1px solid;
    border-bottom-color: rgb(230, 228, 228);
    display: flex;
    &__left {
      width: 230px;
      display: flex;
      &__text {
        font-size: 15px;
        font-weight: bold;
        color: rgb(161, 161, 161);
      }
      &__logo {
        height: 15px;
        width: 15px;
        color: white;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
        line-height: 15px;
        border-radius: 50%;
        background-color: rgb(0, 162, 255);
      }
    }
    &__center {
      width: 200px;
      &__top {
        display: flex;
        height: 80px;
        border-bottom: 0.5px solid;
        border-bottom-color: rgb(182, 182, 182);
        &__left {
          font-size: 14px;
          font-weight: bold;
          line-height: 60px;
        }
        &__btn {
          color: white;
          font-size: 14px;
          font-weight: bold;
          height: 20px;
          width: 35px;
          background-color: red;
          margin-left: 10px;
          margin-top: 19px;
          line-height: 20px;
          border-radius: 2px;
          text-align: center;
        }
      }
      &__middle {
        height: 60px;
        line-height: 60px;
        font-size: 15px;
        border-bottom: 0.5px solid;
        border-bottom-color: rgb(182, 182, 182);
      }
      &__bottom {
        height: 60px;
        line-height: 80px;
        font-size: 15px;
        font-weight: bold;
      }
    }
    &__right {
      width: 220px;
      &__top {
        display: flex;
        height: 80px;
        border-bottom: 0.5px solid;
        border-bottom-color: rgb(182, 182, 182);
        &__text {
          font-size: 12px;
          line-height: 60px;
        }
        &__input {
          height: 40px;
          width: 175px;
          margin-left: 5px;
          margin-top: 10px;
          padding-right: 10px;
          border: 1px solid;
          border-color: rgb(189, 189, 189);
          border-radius: 5px;
          text-align: right;
        }
      }
      &__middle {
        height: 60px;
        line-height: 60px;
        border-bottom: 0.5px solid;
        border-bottom-color: rgb(182, 182, 182);
        text-align: right;
      }
      &__bottom {
        height: 60px;
        line-height: 80px;
        font-size: 25px;
        font-weight: bold;
        text-align: right;
      }
    }
  }
  &__text {
    padding: 40px;
    height: 100%;
    font-size: 14px;
    &__info {
      display: flex;
      &__link {
        color: rgb(0, 174, 255);
      }
    }
  }
  &__btn {
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 600px;
    height: 50px;
    line-height: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgb(255, 61, 61);
    border: none;
  }
  &__back {
    display: block;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(172, 172, 172);
    text-decoration: none;
    line-height: 50px;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
  }
}

.category {
  height: 50px;
  width: 100%;
  border: 1px solid;
  border-color: rgb(189, 189, 189);
  border-radius: 5px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  align-items: center;
}

.category__end {
  height: 50px;
  width: 100%;
  border: 1px solid;
  border-color: rgb(189, 189, 189);
  border-radius: 5px;
  background-color: white;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  align-items: center;
}

