.done__main {
  margin-top: 50px;
  width: 43%;
  height: 70px;
  background-color: white;
  padding: 0 200px;
  display: flex;
}
.done {
  width: 100%;
  height: 60px;
  background-color: #DC143CE8;
  color: white; 
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}


