.header-frame
  =link_to "", root_path, class: "header-frame__market"

.buy
  .buy__frame
    .buy__frame__text 購入内容の確認
    .buy__frame__product
      .buy__frame__product__image
      .buy__frame__product__right
        .buy__frame__product__right__name めっっっっっっちゃくちゃうまいみかん
        .buy__frame__product__right__price
          .buy__frame__product__right__price__en ￥1,000
          .buy__frame__product__right__price__tax （税込）
          .buy__frame__product__right__price__shipping 送料込み
    .buy__frame__low
      .buy__frame__low__price
        .buy__frame__low__price__border
          .buy__frame__low__price__border__text 支払い金額
          .buy__frame__low__price__border__num ￥1,000
        .buy__frame__low__price__check ポイントを使用（所持ポイント: P0）
      .buy__frame__low__card
        .buy__frame__low__card__left
          .buy__frame__low__card__left__text-1 支払い方法
          .buy__frame__low__card__left__text-2 クレジットカード
          .buy__frame__low__card__left__number 1111111111111
          .buy__frame__low__card__left__date 
            .buy__frame__low__card__left__date__text 有効期限
            .buy__frame__low__card__left__date__kigen 05/24
          %i.fab.fa-cc-visa
        .buy__frame__low__card__right 変更する
      .buy__frame__low__shipping
        .buy__frame__low__shipping__left
          .buy__frame__low__shipping__left__text 配送先
          .buy__frame__low__shipping__left__yuubin 〒444-4242
          .buy__frame__low__shipping__left__house 愛知県安城市南町1-111
          .buy__frame__low__shipping__left__user 石井駿一
        .buy__frame__low__shippng__right 変更する
      .buy__frame__low__btn 購入する
.single-footer
  .single-footer-box
    .single-footer-box-top
      .single-footer-box_text
        プライバシーポリシー
      .single-footer-box_text
        Fmarket利用規約
      .single-footer-box_text
        特定商取引に関する表記
    .single-footer-box-bottom
      .single-footer-box-bottom_logo
    .single-footer-box-bottom_license
      ©︎ Mercari, inc.
