.wrapper
  .header-frame
    =link_to "", root_path, class: "header-frame__market"

  .main-new
    .main-frame
      .main-create 商品の削除が完了しました
      .main-create__under
        .main-create__under__text
        = link_to "ホームページへ戻る", homes_path, class: "main-create__under__btn"

  .single-footer
    .single-footer-box
      .single-footer-box-top
        .single-footer-box_text
          プライバシーポリシー
        .single-footer-box_text
          Fmarket利用規約
        .single-footer-box_text
          特定商取引に関する表記
      .single-footer-box-bottom
        .single-footer-box-bottom_logo
      .single-footer-box-bottom_license
        ©︎ Furima, inc.