= render "signup/header"
.single-main
  .single-main__box
    .single-main__box-top
      購入が完了しました！
    .done__main
      = link_to "トップページに戻る", root_path, class: "done"
    .done__main
      = link_to "マイページへ行く", home_path, class: "done"

= render "signup/footer"



-# %p Apple MacBook Pro 13インチ
-# %p ¥135,000(送料込み)